{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E
 ; font-weight : bold;margin-top:2%">About Us</h2></center><hr>
<section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6">
                         <img src="{% static 'images/gym4.jpg' %}" style="height:350px;width:97%">
                    </div>
                         <div class="col-md-6">
                         <p style="color:blue;font-size:22px;font-family:cursive"> 
<br>Thank you for Professor Binhui Wang
<br>
<br> final project of Web Application Develoment Course
<br>Nankai University - Software Engineering Internatioal Master Students  
<br> Developers 
<br>Hawzheen Baqal<sp><sp>ID: 2120226104
<br>Sukhrob Radjabov<sp>ID: 2120226092

</p>
                    </div>


               </div>
          </div>
     </section>
{% endblock %}